# Step 1: Try to access the buoy data and print it

I think Austin used the FTP protocol but according to the Web-Data-Guide, this is meanwhile not recommended anymore since it will be removed in future updates. Use http instead!

Getting started by reading the data of a single buoy using this tutorial:
https://medium.com/@holtan.chase/retrieving-data-from-national-data-buoy-center-api-f94d262c7ea7

In [2]:
import pandas as pd
from IPython.core.display_functions import display

In [12]:
#Stations for gulf of mexico: https://www.ndbc.noaa.gov/mobile/region.php?reg=gulf_of_mexico
station_numbers_all = list((
    "41117",
"41112",
"42001",
"42002",
"42012",
"42013",
"42019",
"42020",
"42022",
"42023",
"42026",
"42036",
"42039",
"42040",
"42055",
"42084",
"42091",
"42095",
"42097",
"42098",
"42099",
"AMRL1",
"ANPT2",
"APCF1",
"APXF1",
"ARPF1",
"AWRT2",
"BABT2",
"BKBF1",
"BKTL1",
"BSCA1",
"BURL1",
"BYGL1",
"BZST2",
"CAPL1",
"CARL1",
"CDRF1",
"CNBF1",
"CRTA1",
"CWAF1",
"CWBF1",
"DILA1",
"DMSF1",
"EBEF1",
"EFLA1",
"EINL1",
"EMAT2",
"EPTT2",
"FHPF1",
"FMOA1",
"FMRF1",
"FPST2",
"FRDF1",
"GBIF1",
"GCTF1",
"GISL1",
"GKYF1",
"GNJT2",
"GRRT2",
"GTOT2",
"GTXF1",
"HIST2",
"HIVT2",
"HREF1",
"IRDT2",
"JXUF1",
"KATP",
"KBMG1",
"KBQX",
"KDLP",
"KGRY",
"KGUL",
"KHHV",
"KIKT",
"KTNF1",
"KVAF",
"KVOA",
"KYWF1",
"LCLL1",
"LMRF1",
"LQAT2",
"LTJF1",
"LUIT2",
"MAXT2",
"MBET2",
"MBPA1",
"MCGA1",
"MGPT2",
"MHBT2",
"MTBF1",
"MYPF1",
"NCHT2",
"NFDF1",
"NUET2",
"NWCL1",
"OBLA1",
"OPTF1",
"PACF1",
"PACT2",
"PCBF1",
"PCGT2",
"PCLF1",
"PCNT2",
"PILL1",
"PMAF1",
"PMNT2",
"PNLM6",
"PORT2",
"PSTL1",
"PTAT2",
"PTBM6",
"PTIT2",
"PTOA1",
"RCPT2",
"RKXF1",
"RLIT2",
"RLOT2",
"RSJT2",
"RTAT2",
"SAPF1",
"SAUF1",
"SDRT2",
"SGNT2",
"SGOF1",
"SHBL1",
"SHPF1",
"SKCF1",
"SMKF1",
"SREF1",
"SRST2",
"TAQT2",
"TESL1",
"TLVT2",
"TPAF1",
"TSHF1",
"TXPT2",
"TXVT2",
"UTVT2",
"VCAF1",
"VCAT2",
"VENF1",
"VTBT2",
"WIWF1",
"WKXA1",
"WPLF1",
"WYCM6",
))

station_numbers_small = list((  #mainly for test purpose
    "41117",
"41112",
"42026",
"42098",
"42099",
"BKTL1",
"BSCA1",
"DMSF1",
"EBEF1",
"RLOT2",
"RSJT2",
"RTAT2",
"SREF1",
"SRST2",
"WYCM6",
))

In [4]:
#get stdmet (=Standard Meteorological) data by station and year
#Params: station_number: string, year: string
#return: if exists: tuple(station_number: str, data: dataframe
def get_data_file(station_number, year):
    base_url ="https://www.ndbc.noaa.gov/data/historical/stdmet/"
    filename = station_number +"h"+ year + ".txt.gz"
    url = base_url + filename
    #print(url)

    try:
        df_data = pd.read_csv(url, delim_whitespace=True, low_memory=False)
        return station_number, df_data    #return as tuple
    except BaseException as e:
        print('Failed to get file: {}'.format(e))
        return None

In [5]:
test_data = get_data_file("41117", "2017")
test_data[1]

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
1,2017,03,31,19,22,999,99.0,99.0,1.29,5.88,4.88,136,9999.0,999.0,20.9,999.0,99.0,99.00
2,2017,03,31,19,52,999,99.0,99.0,1.24,5.88,4.76,136,9999.0,999.0,20.9,999.0,99.0,99.00
3,2017,03,31,20,22,999,99.0,99.0,1.18,5.88,4.89,136,9999.0,999.0,20.9,999.0,99.0,99.00
4,2017,03,31,20,52,999,99.0,99.0,1.15,5.56,4.76,137,9999.0,999.0,20.8,999.0,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12701,2017,12,31,21,52,999,99.0,99.0,0.70,9.09,5.15,78,9999.0,999.0,17.7,999.0,99.0,99.00
12702,2017,12,31,22,22,999,99.0,99.0,0.72,9.09,5.47,85,9999.0,999.0,17.7,999.0,99.0,99.00
12703,2017,12,31,22,52,999,99.0,99.0,0.70,9.88,5.13,87,9999.0,999.0,17.6,999.0,99.0,99.00
12704,2017,12,31,23,22,999,99.0,99.0,0.74,9.09,4.85,81,9999.0,999.0,17.6,999.0,99.0,99.00
12705,2017,12,31,23,52,999,99.0,99.0,0.73,9.88,4.53,77,9999.0,999.0,17.6,999.0,99.0,99.00

Get all data of year 2020 from all stations

In [8]:
def df_modification(data):
    filename = data[0]
    df = data[1]
    df = df.drop(labels=0, axis=0) #drop row with units

    #replace time columns with timestamp index
    df['timestamp'] =  df['#YY'] +"-" \
                       + df['MM'] +"-"  \
                       + df['DD'] +" " \
                       + df['hh'] +":"\
                       + df['mm']
    df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M')
    df.drop(columns=['#YY', 'MM', 'DD', 'hh', 'mm'], inplace=True)
    df.set_index('timestamp', inplace = True)

    df.columns += "_"+filename

    return filename, df

In [9]:
#Test df_modification
test_data = get_data_file("41117", "2017")
data_modified = df_modification(test_data)[1]
#display(list(data_modified.columns))
display(data_modified)

,WDIR_41117,WSPD_41117,GST_41117,WVHT_41117,DPD_41117,APD_41117,MWD_41117,PRES_41117,ATMP_41117,WTMP_41117,DEWP_41117,VIS_41117,TIDE_41117
timestamp,,,,,,,,,,,,,
2017-03-31 19:22:00,999,99.0,99.0,1.29,5.88,4.88,136,9999.0,999.0,20.9,999.0,99.0,99.00
2017-03-31 19:52:00,999,99.0,99.0,1.24,5.88,4.76,136,9999.0,999.0,20.9,999.0,99.0,99.00
2017-03-31 20:22:00,999,99.0,99.0,1.18,5.88,4.89,136,9999.0,999.0,20.9,999.0,99.0,99.00
2017-03-31 20:52:00,999,99.0,99.0,1.15,5.56,4.76,137,9999.0,999.0,20.8,999.0,99.0,99.00
2017-03-31 21:22:00,999,99.0,99.0,1.10,5.88,4.81,133,9999.0,999.0,21.0,999.0,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 21:52:00,999,99.0,99.0,0.70,9.09,5.15,78,9999.0,999.0,17.7,999.0,99.0,99.00
2017-12-31 22:22:00,999,99.0,99.0,0.72,9.09,5.47,85,9999.0,999.0,17.7,999.0,99.0,99.00
2017-12-31 22:52:00,999,99.0,99.0,0.70,9.88,5.13,87,9999.0,999.0,17.6,999.0,99.0,99.00
2017-12-31 23:22:00,999,99.0,99.0,0.74,9.09,4.85,81,9999.0,999.0,17.6,999.0,99.0,99.00
2017-12-31 23:52:00,999,99.0,99.0,0.73,9.88,4.53,77,9999.0,999.0,17.6,999.0,99.0,99.00

In [10]:
#get whole data
def build_dataset(station_numbers, year):
    dataframes = list()

    for station_number in station_numbers:
        data = get_data_file(station_number, year)  #load file

        if data is not None:
            current_df = df_modification(data)   #[1] ... df and not the whole tuple
            print("Shape of ", current_df[0],": ",current_df[1].shape)

            dataframes.append(current_df[1])

    #merged_data = pd.concat(dataframes)
    merged_data = pd.concat(dataframes, axis=1, join="outer")   #outer join also includes NaN, inner join removes them
    return merged_data

In [13]:
#TEST:
station_numbers_one = ["41117"]
station_numbers_two = [ "41117","41112"]

merged_df = build_dataset(station_numbers_all, "2020")
merged_df

Shape of  41117 :  (17412, 13)
Shape of  41112 :  (15910, 13)

/var/folders/ys/lj6w647n5qjdv23zdxs_fn740000gn/T/ipykernel_10070/3830290580.py:11: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_data = pd.read_csv(url, delim_whitespace=True)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Guide:
https://www.ndbc.noaa.gov/docs/ndbc_web_data_guide.pdf

# Issue with Timestamps

Since the datafiles of each buoy have different numbers of rows, the timestamps are not similar.
I think this can be handles by outer-join the whole data and then remove rows with NaN values.
Anyways, I need to find a way to investigate / visualize the timestamps

### The problem is, that different buoys provide values on different time stamps!