## Test if mL.get_data_file returns the same dataframe from web and disc

In [7]:
import myLibrary as mL

In [8]:
station_number = "42036"
year = "2022"

In [9]:
station_number_1, df_data_1 = mL.get_data_file(station_number, year, fromDisc=True)

from disc

/Users/elsandner/Library/Mobile Documents/com~apple~CloudDocs/Uni/WS22/Master Thesis/Master_Project/myLibrary.py:345: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_data = pd.read_csv(filepath)

In [10]:
df_data_1

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
1,2022,01,01,00,00,168,3.5,4.2,99.00,99.00,99.00,999,1016.3,23.3,23.0,23.3,99.0,99.00
2,2022,01,01,00,10,167,3.5,4.3,99.00,99.00,99.00,999,1016.4,23.2,23.1,23.2,99.0,99.00
3,2022,01,01,00,20,165,3.4,4.6,99.00,99.00,99.00,999,1016.4,23.2,23.0,23.2,99.0,99.00
4,2022,01,01,00,30,163,3.8,4.5,99.00,99.00,99.00,999,1016.4,23.2,23.0,23.2,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52525,2022,12,31,23,10,179,3.7,4.5,0.76,5.0,4.28,185,1016.4,22.6,22.3,22.1,99.0,99.0
52526,2022,12,31,23,20,184,3.6,4.5,99.0,99.0,99.0,999,1016.5,22.6,22.3,22.1,99.0,99.0
52527,2022,12,31,23,30,176,3.9,4.9,99.0,99.0,99.0,999,1016.3,22.6,22.3,22.2,99.0,99.0
52528,2022,12,31,23,40,181,5.3,6.4,0.78,4.76,4.26,177,1016.4,22.6,22.3,22.1,99.0,99.0
52529,2022,12,31,23,50,185,4.4,5.4,99.0,99.0,99.0,999,1016.5,22.6,22.3,22.1,99.0,99.0

In [11]:
station_number_1, df_data_2 = mL.get_data_file(station_number, year, fromDisc=False)

from web

In [12]:
df_data_2

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
1,2022,01,01,00,00,168,3.5,4.2,99.00,99.00,99.00,999,1016.3,23.3,23.0,23.3,99.0,99.00
2,2022,01,01,00,10,167,3.5,4.3,99.00,99.00,99.00,999,1016.4,23.2,23.1,23.2,99.0,99.00
3,2022,01,01,00,20,165,3.4,4.6,99.00,99.00,99.00,999,1016.4,23.2,23.0,23.2,99.0,99.00
4,2022,01,01,00,30,163,3.8,4.5,99.00,99.00,99.00,999,1016.4,23.2,23.0,23.2,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52525,2022,12,31,23,10,179,3.7,4.5,0.76,5.00,4.28,185,1016.4,22.6,22.3,22.1,99.0,99.00
52526,2022,12,31,23,20,184,3.6,4.5,99.00,99.00,99.00,999,1016.5,22.6,22.3,22.1,99.0,99.00
52527,2022,12,31,23,30,176,3.9,4.9,99.00,99.00,99.00,999,1016.3,22.6,22.3,22.2,99.0,99.00
52528,2022,12,31,23,40,181,5.3,6.4,0.78,4.76,4.26,177,1016.4,22.6,22.3,22.1,99.0,99.00
52529,2022,12,31,23,50,185,4.4,5.4,99.00,99.00,99.00,999,1016.5,22.6,22.3,22.1,99.0,99.00