In [73]:
import pandas as pd

In [74]:
path = f"files/MLM_MSE.csv"
df = pd.read_csv(path)
cols_to_drop = [col for col in df.columns if '_ERA5' in col]
df = df.drop(columns=cols_to_drop)
df

,Architecture,Alpha,StationID,ATMP,DEWP,PRES,WDIR,WSPD,WTMP
0,LSTM,0.0,42001,0.709,0.792,0.228,3980.978,2.724,0.013
1,LSTM,0.0,42002,0.100,0.004,0.237,1789.096,0.923,0.001
2,LSTM,0.0,42003,0.052,0.016,0.002,0.078,0.024,0.004
3,LSTM,0.0,42019,0.102,0.527,0.295,0.016,0.604,0.019
4,LSTM,0.0,42020,0.428,0.618,0.278,2372.501,0.746,0.235
...,...,...,...,...,...,...,...,...,...
391,TCN,1.0,42020,0.530,0.697,0.369,3690.938,0.653,0.151
392,TCN,1.0,42035,0.074,0.065,0.028,34.652,0.166,0.068
393,TCN,1.0,42036,0.230,0.775,0.548,1968.411,2.360,NaN
394,TCN,1.0,42039,1.076,NaN,0.683,4338.799,10.897,0.091
395,TCN,1.0,42040,0.386,0.219,0.561,608.712,2.346,0.072

In [75]:
condition = (df['Alpha'] == 0)
reference = df.loc[condition].copy()
reference

,Architecture,Alpha,StationID,ATMP,DEWP,PRES,WDIR,WSPD,WTMP
0,LSTM,0.0,42001,0.709,0.792,0.228,3980.978,2.724,0.013
1,LSTM,0.0,42002,0.100,0.004,0.237,1789.096,0.923,0.001
2,LSTM,0.0,42003,0.052,0.016,0.002,0.078,0.024,0.004
3,LSTM,0.0,42019,0.102,0.527,0.295,0.016,0.604,0.019
4,LSTM,0.0,42020,0.428,0.618,0.278,2372.501,0.746,0.235
5,LSTM,0.0,42035,0.014,0.008,0.013,0.045,0.018,0.006
6,LSTM,0.0,42036,0.226,0.751,0.529,1900.489,2.288,NaN
7,LSTM,0.0,42039,1.004,NaN,0.657,3411.863,9.424,0.046
8,LSTM,0.0,42040,0.341,0.090,0.491,290.089,2.252,0.025
99,GRU,0.0,42001,0.780,0.883,0.502,3986.589,3.119,0.030
100,GRU,0.0,42002,0.359,0.011,0.360,1806.199,2.365,0.418
101,GRU,0.0,42003,0.050,0.198,0.029,0.031,0.357,0.241
102,GRU,0.0,42019,1.041,0.529,0.393,0.190,0.624,0.758
103,GRU,0.0,42020,0.637,0.620,0.345,2376.584,0.635,0.238
104,GRU,0.0,42035,0.226,0.048,0.017,0.194,0.244,0.023
105,GRU,0.0,42036,0.787,1.048,0.526,1898.481,2.260,NaN
106,GRU,0.0,42039,1.231,NaN,0.695,3432.007,9.592,0.393
107,GRU,0.0,42040,0.287,0.102,0.989,281.659,2.260,1.059
198,CNN,0.0,42001,2960.411,117.493,4155.740,4525.042,224.567,915.346
199,CNN,0.0,42002,1412.668,1607.724,834.657,1953.468,101.778,198.079
200,CNN,0.0,42003,509.783,236.226,292.217,397.963,182.829,298.955
201,CNN,0.0,42019,56.879,1199.567,90.678,197.170,79.560,1022.541
202,CNN,0.0,42020,891.975,576.451,78.340,2472.646,838.244,1749.984
203,CNN,0.0,42035,97.402,838.534,2040.942,210.181,48.516,460.056
204,CNN,0.0,42036,4442.193,96.520,361.694,2784.988,1446.758,NaN
205,CNN,0.0,42039,637.583,NaN,79.809,4484.961,1439.634,1419.373
206,CNN,0.0,42040,504.589,171.885,218.227,1141.311,536.800,2167.544
297,TCN,0.0,42001,2960.411,117.493,4155.740,4525.042,224.567,915.346
298,TCN,0.0,42002,1412.668,1607.724,834.657,1953.468,101.778,198.079
299,TCN,0.0,42003,509.783,236.226,292.217,397.963,182.829,298.955
300,TCN,0.0,42019,56.879,1199.567,90.678,197.170,79.560,1022.541
301,TCN,0.0,42020,891.975,576.451,78.340,2472.646,838.244,1749.984
302,TCN,0.0,42035,97.402,838.534,2040.942,210.181,48.516,460.056
303,TCN,0.0,42036,4442.193,96.520,361.694,2784.988,1446.758,NaN
304,TCN,0.0,42039,637.583,NaN,79.809,4484.961,1439.634,1419.373
305,TCN,0.0,42040,504.589,171.885,218.227,1141.311,536.800,2167.544

In [76]:
# Compute the distances to create the improvement dataframe
def compute_distance(row):
    ref_row = reference[
        (reference['Architecture'] == row['Architecture']) &
        (reference['StationID'] == row['StationID'])
    ].iloc[0]
    for col in ['ATMP', 'DEWP', 'PRES', 'WDIR', 'WSPD', 'WTMP']:
        row[col] = row[col] - ref_row[col]
    return row

In [77]:
improvement = df.apply(compute_distance, axis=1)
improvement

,Architecture,Alpha,StationID,ATMP,DEWP,PRES,WDIR,WSPD,WTMP
0,LSTM,0.0,42001,0.000,0.000,0.000,0.000,0.000,0.000
1,LSTM,0.0,42002,0.000,0.000,0.000,0.000,0.000,0.000
2,LSTM,0.0,42003,0.000,0.000,0.000,0.000,0.000,0.000
3,LSTM,0.0,42019,0.000,0.000,0.000,0.000,0.000,0.000
4,LSTM,0.0,42020,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...
391,TCN,1.0,42020,-891.445,-575.754,-77.971,1218.292,-837.591,-1749.833
392,TCN,1.0,42035,-97.328,-838.469,-2040.914,-175.529,-48.350,-459.988
393,TCN,1.0,42036,-4441.963,-95.745,-361.146,-816.577,-1444.398,NaN
394,TCN,1.0,42039,-636.507,NaN,-79.126,-146.162,-1428.737,-1419.282
395,TCN,1.0,42040,-504.203,-171.666,-217.666,-532.599,-534.454,-2167.472

In [78]:
improvement.to_csv('files/MLM_MSE_improvement.csv', index=False)