# This notebook was used to develope the functions in myLibrary.py. It is not relevant anymore!

In [1]:
import pandas as pd
from IPython.core.display_functions import display

import myLibrary as mL

In [2]:
test_data = mL.get_data_file("41117", "2017")
test_data[1]

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
1,2017,03,31,19,22,999,99.0,99.0,1.29,5.88,4.88,136,9999.0,999.0,20.9,999.0,99.0,99.00
2,2017,03,31,19,52,999,99.0,99.0,1.24,5.88,4.76,136,9999.0,999.0,20.9,999.0,99.0,99.00
3,2017,03,31,20,22,999,99.0,99.0,1.18,5.88,4.89,136,9999.0,999.0,20.9,999.0,99.0,99.00
4,2017,03,31,20,52,999,99.0,99.0,1.15,5.56,4.76,137,9999.0,999.0,20.8,999.0,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12701,2017,12,31,21,52,999,99.0,99.0,0.70,9.09,5.15,78,9999.0,999.0,17.7,999.0,99.0,99.00
12702,2017,12,31,22,22,999,99.0,99.0,0.72,9.09,5.47,85,9999.0,999.0,17.7,999.0,99.0,99.00
12703,2017,12,31,22,52,999,99.0,99.0,0.70,9.88,5.13,87,9999.0,999.0,17.6,999.0,99.0,99.00
12704,2017,12,31,23,22,999,99.0,99.0,0.74,9.09,4.85,81,9999.0,999.0,17.6,999.0,99.0,99.00
12705,2017,12,31,23,52,999,99.0,99.0,0.73,9.88,4.53,77,9999.0,999.0,17.6,999.0,99.0,99.00

Get all data of year 2020 from all stations

In [4]:
#Test df_modification
test_data = mL.get_data_file("41117", "2017")
data_modified = mL.df_modification(test_data)[1]
#display(list(data_modified.columns))
display(data_modified)

,WDIR_41117,WSPD_41117,GST_41117,WVHT_41117,DPD_41117,APD_41117,MWD_41117,PRES_41117,ATMP_41117,WTMP_41117,DEWP_41117,VIS_41117,TIDE_41117
timestamp,,,,,,,,,,,,,
2017-03-31 19:22:00,999,99.0,99.0,1.29,5.88,4.88,136,9999.0,999.0,20.9,999.0,99.0,99.00
2017-03-31 19:52:00,999,99.0,99.0,1.24,5.88,4.76,136,9999.0,999.0,20.9,999.0,99.0,99.00
2017-03-31 20:22:00,999,99.0,99.0,1.18,5.88,4.89,136,9999.0,999.0,20.9,999.0,99.0,99.00
2017-03-31 20:52:00,999,99.0,99.0,1.15,5.56,4.76,137,9999.0,999.0,20.8,999.0,99.0,99.00
2017-03-31 21:22:00,999,99.0,99.0,1.10,5.88,4.81,133,9999.0,999.0,21.0,999.0,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 21:52:00,999,99.0,99.0,0.70,9.09,5.15,78,9999.0,999.0,17.7,999.0,99.0,99.00
2017-12-31 22:22:00,999,99.0,99.0,0.72,9.09,5.47,85,9999.0,999.0,17.7,999.0,99.0,99.00
2017-12-31 22:52:00,999,99.0,99.0,0.70,9.88,5.13,87,9999.0,999.0,17.6,999.0,99.0,99.00
2017-12-31 23:22:00,999,99.0,99.0,0.74,9.09,4.85,81,9999.0,999.0,17.6,999.0,99.0,99.00
2017-12-31 23:52:00,999,99.0,99.0,0.73,9.88,4.53,77,9999.0,999.0,17.6,999.0,99.0,99.00

In [5]:
#TEST:
station_numbers_one = ["41117"]
station_numbers_two = [ "41117","41112"]

merged_df = mL.build_dataset(mL.stations_GOM, "2020")
merged_df

Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found
Failed to get file: HTTP Error 404: Not Found

,WDIR_41117,WSPD_41117,GST_41117,WVHT_41117,DPD_41117,APD_41117,MWD_41117,PRES_41117,ATMP_41117,WTMP_41117,...,WVHT_42099,DPD_42099,APD_42099,MWD_42099,PRES_42099,ATMP_42099,WTMP_42099,DEWP_42099,VIS_42099,TIDE_42099
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:00:00,999,99.0,99.0,0.59,13.33,4.51,78,9999.0,999.0,17.4,...,1.15,5.88,4.51,324,9999.0,999.0,23.9,999.0,99.0,99.00
2020-01-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-01 00:30:00,999,99.0,99.0,0.58,15.38,4.41,71,9999.0,999.0,17.4,...,1.10,5.88,4.47,326,9999.0,999.0,23.9,999.0,99.0,99.00
2020-01-01 00:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 23:26:00,999,99.0,99.0,1.69,8.33,5.64,87,9999.0,999.0,16.8,...,2.11,6.67,5.15,154,9999.0,999.0,21.9,999.0,99.0,99.00
2020-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31 23:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31 23:56:00,999,99.0,99.0,1.59,8.33,5.52,89,9999.0,999.0,16.8,...,2.21,6.67,5.25,150,9999.0,999.0,21.9,999.0,99.0,99.00

Guide:
https://www.ndbc.noaa.gov/docs/ndbc_web_data_guide.pdf

# Issue with Timestamps

Since the datafiles of each buoy have different numbers of rows, the timestamps are not similar.
I think this can be handles by outer-join the whole data and then remove rows with NaN values.
Anyways, I need to find a way to investigate / visualize the timestamps

### The problem is, that different buoys provide values on different time stamps!

--> 2_timestamp_analysis.ipynb