In [2]:
import pandas as pd

In [3]:
url ="https://www.ndbc.noaa.gov/data/historical/stdmet/32st1h2009.txt.gz"
df_data = pd.read_csv(url, delim_whitespace=True, low_memory=False)
df_data

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
1,2009,07,01,00,00,130,7.0,99.0,99.00,99.00,99.00,999,1019.0,19.2,21.0,13.5,99.0,99.00
2,2009,07,01,01,00,131,6.7,99.0,99.00,99.00,99.00,999,1020.0,19.2,21.0,13.5,99.0,99.00
3,2009,07,01,02,00,132,7.3,99.0,99.00,99.00,99.00,999,1020.0,19.3,21.0,13.1,99.0,99.00
4,2009,07,01,03,00,133,6.9,99.0,99.00,99.00,99.00,999,1020.0,19.3,20.9,13.1,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,2009,08,31,19,00,119,1.6,99.0,99.00,99.00,99.00,999,1016.0,18.7,19.9,13.6,99.0,99.00
1470,2009,08,31,20,00,177,1.1,99.0,99.00,99.00,99.00,999,1016.0,18.8,20.1,13.5,99.0,99.00
1471,2009,08,31,21,00,166,1.1,99.0,99.00,99.00,99.00,999,1015.0,18.7,20.1,13.9,99.0,99.00
1472,2009,08,31,22,00,133,2.7,99.0,99.00,99.00,99.00,999,1016.0,18.4,19.9,14.7,99.0,99.00
1473,2009,08,31,23,00,176,2.0,99.0,99.00,99.00,99.00,999,1016.0,18.1,19.9,14.9,99.0,99.00

In [8]:
df_data.to_csv("../data/oneBuoyData.csv") # used for documentation / thesis

In [1]:
url ="https://www.ndbc.noaa.gov/data/historical/ocean/32st1o2009.txt.gz"
df_data = pd.read_csv(url, delim_whitespace=True, low_memory=False)
df_data

,#YY,MM,DD,hh,mm,DEPTH,OTMP,COND,SAL,O2%,O2PPM,CLCON,TURB,PH,EH
0,#yr,mo,dy,hr,mn,m,degC,mS/cm,psu,%,ppm,ug/l,FTU,-,mv
1,2009,07,01,00,00,1.0,21.00,999.00,35.60,999.0,99.00,999.00,99,99.00,99.00
2,2009,07,01,01,00,1.0,21.00,999.00,35.60,999.0,99.00,999.00,99,99.00,99.00
3,2009,07,01,02,00,1.0,21.00,999.00,35.60,999.0,99.00,999.00,99,99.00,99.00
4,2009,07,01,03,00,1.0,20.90,999.00,35.60,999.0,99.00,999.00,99,99.00,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,2009,08,31,19,00,1.0,19.90,999.00,35.50,999.0,99.00,999.00,99,99.00,99.00
1470,2009,08,31,20,00,1.0,20.10,999.00,35.40,999.0,99.00,999.00,99,99.00,99.00
1471,2009,08,31,21,00,1.0,20.10,999.00,35.50,999.0,99.00,999.00,99,99.00,99.00
1472,2009,08,31,22,00,1.0,19.90,999.00,35.40,999.0,99.00,999.00,99,99.00,99.00
1473,2009,08,31,23,00,1.0,19.90,999.00,35.50,999.0,99.00,999.00,99,99.00,99.00

# Ideas 1:
Maybee, it would make sense to use another dataset than stdmet

Datapath used by Austin:

In [4]:

#url ="https://www.ndbc.noaa.gov/data/historical/stdmet/32st1h2009.txt.gz"
buoy = "32st1"
date = "2020"
myurl = "http://www.ndbc.noaa.gov/view_text_file.php?filename="+buoy+"h"+ date +".txt.gz&dir=data/historical/stdmet/"
myurl

'http://www.ndbc.noaa.gov/view_text_file.php?filename=32st1h2020.txt.gz&dir=data/historical/stdmet/'

## Compare my download function with Austins

In [15]:
from IPython.core.display_functions import display
import requests
import numpy as np

def download_noaa(buoy, date):
    myurl = "http://www.ndbc.noaa.gov/view_text_file.php?filename="+buoy+"h"+ date +".txt.gz&dir=data/historical/stdmet/"
    print(myurl)
    data = requests.get(myurl).text.split("\n")

    return_val = []
    for line in data[2:]:
        return_val.append([float(a) for a in line.strip().split(" ") if a.strip() != '' ] )

    return_val = np.array(return_val[0:-1])


    if return_val.size == 0:
        return return_val, return_val

    df = pd.DataFrame(return_val, columns = data[0].split())

    return df, return_val

austin_df, austin_return_val = download_noaa("0y2w3", "2012")
display(austin_df)
display(austin_return_val)

http://www.ndbc.noaa.gov/view_text_file.php?filename=0y2w3h2012.txt.gz&dir=data/historical/stdmet/

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2012.0,7.0,1.0,0.0,20.0,180.0,3.1,99.0,0.9,99.0,99.0,999.0,9999.0,21.0,999.0,999.0,6.0,99.0
1,2012.0,7.0,1.0,12.0,26.0,300.0,1.3,99.0,0.3,99.0,99.0,999.0,9999.0,21.0,999.0,999.0,6.0,99.0
2,2012.0,7.0,1.0,13.0,55.0,220.0,0.9,99.0,0.3,99.0,99.0,999.0,9999.0,23.0,999.0,999.0,6.0,99.0
3,2012.0,7.0,1.0,15.0,55.0,130.0,0.9,99.0,0.3,99.0,99.0,999.0,9999.0,24.0,999.0,999.0,6.0,99.0
4,2012.0,7.0,1.0,18.0,40.0,170.0,4.0,99.0,0.9,99.0,99.0,999.0,9999.0,22.0,999.0,999.0,6.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,2012.0,12.0,31.0,0.0,55.0,230.0,3.1,99.0,0.3,99.0,99.0,999.0,1018.5,-9.0,999.0,999.0,6.0,99.0
824,2012.0,12.0,31.0,12.0,50.0,270.0,1.8,99.0,0.0,99.0,99.0,999.0,1013.8,-6.0,999.0,999.0,1.0,99.0
825,2012.0,12.0,31.0,16.0,35.0,310.0,2.7,99.0,0.3,99.0,99.0,999.0,1015.1,-4.0,999.0,999.0,6.0,99.0
826,2012.0,12.0,31.0,18.0,55.0,280.0,3.6,99.0,0.0,99.0,99.0,999.0,1014.8,-4.0,999.0,999.0,6.0,99.0
827,2012.0,12.0,31.0,21.0,50.0,330.0,2.2,99.0,0.3,99.0,99.0,999.0,1015.8,-6.0,999.0,999.0,6.0,99.0

array([[2.012e+03, 7.000e+00, 1.000e+00, ..., 9.990e+02, 6.000e+00,
        9.900e+01],
       [2.012e+03, 7.000e+00, 1.000e+00, ..., 9.990e+02, 6.000e+00,
        9.900e+01],
       [2.012e+03, 7.000e+00, 1.000e+00, ..., 9.990e+02, 6.000e+00,
        9.900e+01],
       ...,
       [2.012e+03, 1.200e+01, 3.100e+01, ..., 9.990e+02, 6.000e+00,
        9.900e+01],
       [2.012e+03, 1.200e+01, 3.100e+01, ..., 9.990e+02, 6.000e+00,
        9.900e+01],
       [2.012e+03, 1.200e+01, 3.100e+01, ..., 9.990e+02, 6.000e+00,
        9.900e+01]])

In [19]:
def get_data_file(station_number, year):
    base_url ="https://www.ndbc.noaa.gov/data/historical/stdmet/"
    filename = station_number +"h"+ year + ".txt.gz"
    url = base_url + filename
    #print(url)

    try:
        df_data = pd.read_csv(url, delim_whitespace=True, low_memory=False)
        return station_number, df_data    #return as tuple
    except BaseException as e:
        print('Failed to get file: {}'.format(e))
        return None

station_number, my_df = get_data_file("0y2w3", "2012")
my_df

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
1,2012,07,01,00,20,180,3.1,99.0,0.90,99.00,99.00,999,9999.0,21.0,999.0,999.0,6.0,99.00
2,2012,07,01,12,26,300,1.3,99.0,0.30,99.00,99.00,999,9999.0,21.0,999.0,999.0,6.0,99.00
3,2012,07,01,13,55,220,0.9,99.0,0.30,99.00,99.00,999,9999.0,23.0,999.0,999.0,6.0,99.00
4,2012,07,01,15,55,130,0.9,99.0,0.30,99.00,99.00,999,9999.0,24.0,999.0,999.0,6.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,2012,12,31,00,55,230,3.1,99.0,0.30,99.00,99.00,999,1018.5,-9.0,999.0,999.0,6.0,99.00
825,2012,12,31,12,50,270,1.8,99.0,0.00,99.00,99.00,999,1013.8,-6.0,999.0,999.0,1.0,99.00
826,2012,12,31,16,35,310,2.7,99.0,0.30,99.00,99.00,999,1015.1,-4.0,999.0,999.0,6.0,99.00
827,2012,12,31,18,55,280,3.6,99.0,0.00,99.00,99.00,999,1014.8,-4.0,999.0,999.0,6.0,99.00
828,2012,12,31,21,50,330,2.2,99.0,0.30,99.00,99.00,999,1015.8,-6.0,999.0,999.0,6.0,99.00

## --> Yes, it is the same data!

---
# Investigate buoy that is listed in historical/stmed but can not be found on NDBC station list

In [1]:
import myLibrary as mL

station_number, df_data = mL.get_data_file("4cONF", "2020")

df_data

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
1,2020,06,01,00,00,341,0.5,1.7,99.00,99.00,99.00,999,1016.5,29.4,999.0,17.8,99.0,99.00
2,2020,06,01,00,10,12,0.2,0.9,99.00,99.00,99.00,999,1016.5,28.7,999.0,18.0,99.0,99.00
3,2020,06,01,00,20,24,0.3,0.8,99.00,99.00,99.00,999,1016.6,28.1,999.0,18.2,99.0,99.00
4,2020,06,01,00,30,17,0.2,0.6,99.00,99.00,99.00,999,1016.7,27.4,999.0,18.6,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2729,2020,06,30,23,10,143,3.4,4.4,99.00,99.00,99.00,999,1014.5,29.2,999.0,24.1,99.0,99.00
2730,2020,06,30,23,20,140,3.3,4.4,99.00,99.00,99.00,999,1014.5,29.3,999.0,24.2,99.0,99.00
2731,2020,06,30,23,30,150,3.4,4.4,99.00,99.00,99.00,999,1014.3,29.3,999.0,24.1,99.0,99.00
2732,2020,06,30,23,40,151,3.0,3.8,99.00,99.00,99.00,999,1014.3,29.2,999.0,24.1,99.0,99.00
2733,2020,06,30,23,50,147,3.2,4.3,99.00,99.00,99.00,999,1014.3,29.2,999.0,24.1,99.0,99.00